*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:"Roboto-Regular.ttf" ;
    src: url(font/Roboto-Regular.ttf);
}
body{
    background-color: #b6f1f9;
    font-family:"Roboto-Regular.ttf" ;
}
header{
    display : flex;
    background-color: #65e4c7;
    height:200px;
    justify-content: center;
    min-width: 1100px;
}
.header__container{
    width:auto;
    min-width: 1100px;
    display: flex;
}
header div img{
    height:200px;
    width:200px;  
}
.text{
    padding: 80px 180px 0 180px;
}
.container{
    display: flex;
    justify-content: center;
}
.container__card{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    background-color: #7a7676;

}
.container__card__card{
    position: relative;
    width:585px;
    height:490px;
}
.container__img{
    height: 100%;
    width: 100%;
}

.button{
 position: absolute;
bottom:2em;
left:10em;
border: 3px solid #b6f1f9;
background-color:#ffff;
color:black;
text-decoration: none;
text-transform:uppercase;
padding:1em 1.5em;
border-radius: 10px;
}


.modal__container{
    position:fixed;
    z-index: 1000;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
   
}
.modal{
    width: 40%;
    height:65%;
    background-color: #ffff;
    font-family:"Roboto-Regular.ttf" ;
    text-align: center;
    display: flex;
    flex-direction: column;
    position:relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.modal__textos{
    padding:50px;
    text-align: justify;
    overflow: hidden;

    
}
.modal__textos a{
    text-decoration: none;
}
span{
    font-weight: bold;
}
.close{
    position: absolute;
    top: 5px;
    right: 5px;
    display:inline-block;
    width: 100px;
    height: 50px;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    color: #000;
    line-height: 50px;
    cursor: pointer;
    border-radius: 25px;
}
.modal__close{
     transform: translateY(-200%);
}

footer {
background-color: #65e4c7;

}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px 0px;
}

.card5{
margin: 0 35%;
}
.button5{
    position: absolute;
    bottom:2em;
    left:1em;
    border: 3px solid #b6f1f9;
    background-color:#ffff;
    color:black;
    text-decoration: none;
    text-transform:uppercase;
    padding:1em 1em;
    border-radius: 10px;
}



footer i{
    color: black;
    padding: 0px 5px;
  font-size:20px;
}
footer a{
    display:flex;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    color:black; 
}
footer p {
    text-align: center;
    padding-bottom: 15px;
}
@media only screen and (max-width: 1180px) {
    .container__card {
      display: flex;
     flex-direction: column;
     
    }
    body{
        min-width: 1100px;
 
    }
    .container__card__card{
        width:700px;
        height:600px;
    }
    .modal__container{
        height:100%;
    }
    .modal__textos{
        font-size:23px;
    }
    .modal{
        width:80%;
        height :75%;
    }
    footer i {
        font-size:30px;
    }
    footer a{
        font-size:30px;
    }
    footer p{
        font-size:30px;
    }
    .card5{
        margin: 0 auto;
        }
  }

  @media only screen and (max-width:1600px){
    .modal{
        height :70%;
 
    }
  .modal__textos{
      overflow-y: scroll;
  }

  }

  @media only scrren and (max-width:1800px){
    .modal__textos{
        overflow-y: scroll;
    }
  
  }

  @media only screen and (max-width:700px){
    .modal__container{
        height:100%;
    }
    .modal__textos{
        font-size:30px;
    }
    .modal{
        width:80%;
        height :50%;
    }
    footer i {
        font-size:30px;
    }
    footer a{
        font-size:30px;
    }
    footer p{
        font-size:30px;
    }
    .button {
        font-size: 25px;
        left:5em;
    }
    .button5{
            left:0.1em;
            padding:1em 1em;
    }
  }

  @media only screen and (max-width:500px){
    .modal__container{
        height:100%;
    }
    .modal__textos{
        font-size:40px;
    }
    .modal{
        width:80%;
        height :50%;
    }
  }

